{% extends 'base.html.twig' %}

{% block title %}BlogPost index{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1 class="mb-5">Blog Post Admin</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Tags</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for blog_post in blog_posts %}
                <tr>
                    <td>{{ blog_post.id }}</td>
                    <td>
                        <a href="{{ path('app_blog_post_show', {'id': blog_post.id}) }}">
                            {{ blog_post.title }}
                        </a>
                    </td>
                    <td>{{ blog_post.tags }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('app_blog_post_edit', {'id': blog_post.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-primary" href="{{ path('app_blog_post_new') }}">Create new</a>
    </div>
{% endblock %}
