{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <h1 class="display-1 pt-5">
                            <strong style="font-weight: 600">Blog<span class="punto-spam">.</span>ar</strong>
                        </h1>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col pt-5">
                        <h3 class="font-weight-bold">
                            Descubre cómo ahorrar dinero en tus envíos internacionales. Consejos y trucos para enviar y gestionar tu dinero de manera inteligente.
                        </h3>
                    </div>
                </div>
            </div>
        </div>

            <div class="row g-5 pb-5 mb-5">
                {% for post in posts %}
                <div class="col-md-12 col-xl-6 p-5 pb-0">
                    <div class="primary-container mb-5">
                        <a href="{{ path('app_blog_post_show', {'id': post.id}) }}">
                            <img class="primary-box" src="{{ asset('uploads/blog_images/') }}{{ post.imgPath }}">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="text-decoration-none text-dark" href="{{ path('app_blog_post_show', {'id': post.id}) }}">
                            <h3 class="fw-bolder">{{ post.title }}</h3>
                        </a>
                        <a class="text-decoration-none" href="{{ path('app_blog_post_show', {'id': post.id}) }}">
                            <p class="fw-bold color-primario">{{ post.subtitulo }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>


    </div>
{% endblock %}