<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white pt-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('assets/images/logos/logo.png') }}" alt="" width="75">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100 px-5 color-primario">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}#sobreNosotros">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}#faq">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">LogOut</a>
                        </li>
                    {% endif %}
                </ul>
                {% if '/blog' in app.request.requestUri %}
                <form class="d-flex" action="{{ path('blog_search') }}">
                    <input class="form-control me-2" value="{{ term ?? '' }}" type="search" aria-label="Search" name="search">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
</div>